<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context = "http://www.springframework.org/schema/context"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">

    <bean 
        id="firstbean" 
        class="evs.java.spring.class7.FirstBean" > 
        <property name="name" value="First Bean" />
    </bean>
    
    <bean 
        id="secondbean" 
        class="evs.java.spring.class7.FirstBean" > 
        <constructor-arg 
            index="0"
            type="java.lang.String"
            value="Second Bean"
        />
    </bean>
    
    <bean 
        id="thirdbean" 
        class="evs.java.spring.class7.FirstBean" > 
        <constructor-arg 
            index="0"
            type="java.lang.String"
            value="Third Bean"
        />
        <property name="name" value="Third Override Bean" />
    </bean>
</beans>
